extends layout

block content
  div.col-lg-12
    h1.page-header 领域模型
  div.col-lg-6
    div.panel.panel-default
      div.panel-heading
        | 项目
        div.pull-right
          div.btn-group
            button.btn.btn-default.btn-xs.dropdown-toggle(type="button",data-toggle="dropdown",aria-expanded="false") 操作
              span.caret
            ul.dropdown-menu.pull-right(role="menu")
              li
                a(href="#") 编辑
              li
                a(href="#") 删除
              li.divider
              li
                a(href="#") 添加数据
      div.panel-body
         div.table-responsive
          table.table.table-striped.table-bordered.table-hover
            thead
              tr
                th #
                th 名称
                th 类型
            tbody
              tr
                td 1
                td Mark
                td 文本
              tr
                td 2
                td Mark
                td 数字
              tr
                td 3
                td Mark
                td 日期
              tr
                td 4
                td Mark
                td 时间
              tr
                td 5
                td Mark
                td 日期时间
              tr
                td 6
                td Mark
                td 单选
              tr
                td 7
                td Mark
                td 复选
              tr
                td 8
                td Mark
                td 文本域
              tr
                td 9
                td Mark
                td 文件
    div.panel.panel-default
      div.panel-body
        a(href='#')
          h1.text-center
            i.fa.fa-plus
  div.col-lg-6
    div.panel.panel-default
      div.panel-heading
        | 用户
      div.panel-body
         div.table-responsive
          table.table.table-striped.table-bordered.table-hover
            thead
              tr
                th #
                th 名称
                th 类型
            tbody
              tr
                td 1
                td Mark
                td 文本
              tr
                td 2
                td Mark
                td 数字
              tr
                td 3
                td Mark
                td 日期
              tr
                td 4
                td Mark
                td 时间
              tr
                td 5
                td Mark
                td 日期时间
              tr
                td 6
                td Mark
                td 单选
              tr
                td 7
                td Mark
                td 复选
              tr
                td 8
                td Mark
                td 文本域
              tr
                td 9
                td Mark
                td 文件